body {
    margin: 0;
}

section {
    height: 500px;
    background-color: #fff;
    border: solid black 1px;
}

.hero {
    background-color: #e1f0fa;
    height: 100vh;
}

footer {
    height: 500px;
    background-color: lightpink;
}
