@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Orbitron:wght@400;600;700&display=swap');


body {
    margin: 0;
    font-family: Montserrat, sans-serif;
}

h1, h2, h3, h4 {
    font-family: Orbitron, sans-serif;
}

p {
    font-size: 22px;
}

section {
    background-color: #fff;
    border: 0;
}

/***** Hero Section *****/

.hero {
    background-color: #333333;
    height: 100vh;
    color: #fff;
    font-size: 30px;
}

/* Navbar */

nav {
    display: flex;
    /* Make logo to left and nav to right */
    justify-content: space-between;
}

.logo {
    height: 60px;
    margin: 10px 30px 30px 30px;
}

ul {
    display: flex;
    list-style-type: none;
    width: 450px;
    font-family: Montseratte, sans-serif;
    justify-content: space-around;
    font-size: 22px;
    
}
li {
    /* width: 200px; */
    text-decoration: none;
}

/* Hero Content */

.hero-area {
    display: flex;
    /*flex-direction: column;*/
    height: 75%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
}

h1 {
    font-size: 70px;
    font-family: Orbitron, sans-serif;
    margin-bottom: 0;
}

h2 {
    font-family: Orbitron, sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin-top: 0;
}
/* Button */
.contact {
    width: 180px;
    height: 50px;
    background-color: coral;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 22px;
    border: none;
    border-radius: 25px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.contact:hover {
    background-color: #ef744b;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
    color: #333333;
    transform: translateY(-7px);
  }

.contact:active {
    background-color: darkgray;
}

/* Socials*/
.socials {
  margin-right: 20px;
}

i {
    padding: 8px;
    color: white;
    cursor: pointer;
}

i:hover {
    color: #ef744b;
}

/***** SubSections *****/

.sub-section {
    /* Display flex lines up the div items horizontally */
    display: flex;
    justify-content: space-around;
    padding: 80px; 
}

/***** About Me *****/

.about {
    padding: 50px 0 0 0;
}

.about-paragraph {
    padding: 0 20px 0 0;
}
.headshot {
    width: 100%;
    border-radius: 175px;;
}

.headshot-container {
    display: flex;
    align-items: center;
}


/***** Footer *****/

footer {
    height: 500px;
    background-color: lightpink;
}
